<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="80'ler 90'lar anılarınızı tazeleyin">
    <meta name="author" content="Hüseyin BABAL">

    <title>80'ler 90'lar</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.9.0/css/bootstrap-tour.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body{margin-top:35px;padding-top:20px;padding-bottom:20px}
        .letter-box { width: 30px; height: 30px; padding: 0.5em; float: left; margin: 5px; border: 1px solid black;font-size: .9em; text-align: center;font-weight:bold;cursor:pointer;}
        .answer-wrong{border: 4px solid red;}
        .answer-true{border: 4px solid green;}
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">80'ler 90'lar</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="javascript:;" id="howto-play">Nasıl Oynanır?</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
     <%if (typeof gameId !== 'undefined') { %>
        <div class="row">
            <div class="col-lg-6">
                <input type="hidden" name="itemId" id="itemId" value=""/>
                <input type="hidden" name="resultText" id="resultText" value=""/>
                <input type="hidden" name="gameId" id="gameId" value="<%= gameId %>"/>
                <img id="itemImg" width="300" height=300" src="" alt="" class="img-thumbnail">
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row letters-available">
            <div class="col-lg-6" id="availableWords">
            </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row letters-result">
            <div class="col-lg-6" id="resultWords">
            </div>
        </div>
      <% } else if (typeof result !== 'undefined') { %>
        <div class="row">
            <div class="col-lg-12">
            Tebrikler! Oyunu <%= duration %> saniyede bitirdiniz
            </div>
            <a href="https://twitter.com/intent/tweet?button_hashtag=100thbbs&text=Seksenler%20Doksanlar%20oyununu%20100%<%= duration %> sn.%20de%20bitirdim" class="twitter-hashtag-button" data-size="large" data-url="http://localhost:8000/result/<%= game._id %>">Sonucu Paylaş</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      <% } else {%>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Oyun kuralları;
                <ul>
                    <li><strong>Başla</strong> butonuna basınca oyun ve süreniz başlar</li>
                    <li>Ekrandaki resimlerin adını hemen altındaki harfleri kullanarak bulmaya çalışın</li>
                    <li>15 tane resmi en kısa sürede tamamlamaya çalışın</li>
                    <li>Bitince sonuçları ekranda greceksiniz. Dilerseniz twitter hesabınızda paylaşabilirsiniz</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="/game" class="btn btn-block btn-primary"><i class="fa fa-play fa-fw"></i> Başla</a>
            </div>
        </div>
      <% } %>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.9.0/js/bootstrap-tour.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.0/jquery.countdown.min.js"></script>
    <script src="/js/8090.js"></script>
    <script>
        jQuery(document).ready(function() {
           Main.init(); 
        });
    </script>
  </body>
</html>
